* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--Light-Grayish-Blue);
}

article {
    padding: 20px 15px;
}

.main-container {
    max-width: 375px;
    background-color: white;
    border-radius: 10px;
}

.image-container {
    width: fit-content;
}

.image-container img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}