* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--Light-Grayish-Blue);
    font-family: "Manrope", "sans-serif";
}

article {
    display: flex;
    justify-content: center;
    padding: 20px 25px;
}

.main-container {
    max-width: 375px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px lightgray;
}

.image-container {
    width: fit-content;
}

.image-container img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.main-content-container {
    padding: 20px 28px 0px;
}

.main-container__first-paragraph {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
}

.main-container__second-paragraph {
    font-size: 13px;
    color: var(--Desaturated-Dark-Blue);
    line-height: 20px;
}

.main-content__sharing-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sharing-section__image-container img {
    width: 40px;
}